.bg-consulti { background: #b6c2c9 !important; }
.bg-consulti-darker { background: #838d93 !important; }
.bg-consulti-lighter { background: #d5e2e9 !important; }

.widget-consulti{
border-radius: 3px;
margin-bottom: 20px;
color: #fff;
padding: 7px;
overflow: hidden;
}
.stats-info.infos-paciente > h4 span { color: #454545;}

.panel-inverse > .panel-heading { background: #838d93; }

.brasao {
	background: url(../img/brasao-atestado/logo-rhp.png) center center no-repeat; background-size: 250px;
	
}
textarea.brasao-med {
	background-color:transparent;
	border-bottom: none;
}
#footer-medico{
	border: solid 1px #ccc;
	border-top: none;
	background:none;
}
#footer-medico.invoice-header{
	margin: -2px 0px;
}

#todos {
	background: #fff;
	margin-bottom: 20px
}
#todos .table {margin-bottom: 0}
#todos .table > thead tr{
	background: #838d93;
}
#todos .table > thead tr th{
	color: #fff;
}
#todos .table > tbody tr td:last-child{
	text-align: center;
	font-size: 16px
}

.nav-pills > li > a {
	font-size: 0.6em;
	padding: 10px 5px;
}

/* ==   Navegação Lateral Principal  == */

.cbp-spmenu {
background: #fff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
border-left: 5px solid #838d93;
box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2);
position: fixed;
}
.cbp-spmenu h3 {
display: block;
font-size: 18px;
line-height: 1.42857143;
color: #777;
white-space: nowrap;

padding: 10px 20px !important;
background: #fafafa;
}
.cbp-spmenu li{list-style: none;} 
.cbp-spmenu a {
display: block;
list-style: none;
color: #333;
font-size: 1.1em;
font-weight: 300;
}
.cbp-spmenu a:hover {
background: #edf0f5;
text-decoration: none;
}
.cbp-spmenu a.active {
background: #edf0f5;
color: #333;
cursor: default;
}

.cbp-spmenu-vertical {
width: 220px;
height: 100%;
/*top: 0;*/
z-index: 1000;
}
.cbp-spmenu-vertical a {
border-bottom: 1px solid #eeeeee;
padding: 1em;
}

.cbp-spmenu-left {
left: -220px;
}
.cbp-spmenu-left.cbp-spmenu-open {
left: 0px;
}

.cbp-spmenu, .cbp-spmenu-push {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}